<h1>My Borrowed Books</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <% @borrowed_books.each do |borrowing| %>
    <tr>
      <td><%= borrowing.book.title %></td>
      <td><%= borrowing.due_date.strftime("%B %d, %Y") %></td>
      <td>
        <%= button_to "Return", borrowing_path(borrowing), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
a
<%= link_to "Back to Books", books_path, class: "btn btn-secondary" %>
